body{
    margin: 0;
    font-family: Montserrat;
}
h2{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 70px;
}
p{
    font-size: 15px;
    font-weight: 500;
}
/*************Start what is hawaii shaka camp*************/

.what_is_hawaii_shaka_camp{
    width: 100%;
    height: max-content;
}
.what_is_hawaii_shaka_camp .grid_block{
    background: #7fb2d1;
    border-radius: 7px;
    overflow: hidden;
}
.grid_block_what_is_hawaii_shaka_camp{
    width: 80%;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    margin: auto;
}
.grid_block_what_is_hawaii_shaka_camp .grid_block{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.grid_block_what_is_hawaii_shaka_camp .grid_block .img_block{
    padding: 30px 0px 20px 0px;
}
.grid_block_what_is_hawaii_shaka_camp .grid_block p{
    width: 80%;
    text-align: center;
    padding-bottom: 40px;
}
.orange_block_one{
    width: 44px;
    height: 44px;
    background: #f27628;
    position: absolute;
    right: 0;
    top: 0;
}
.orange_block_two{
    width: 44px;
    height: 44px;
    background: #f27628;
    position: absolute;
    left: 0;
    bottom: 0;
}
.inform_block{
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.white_block{
    z-index: 1;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background:white;
    border-radius: 7px;
}

@media screen and (max-width: 950px){
    .grid_block_what_is_hawaii_shaka_camp{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 2em;
    }
}
/*************End what is hawaii shaka camp*************/

/*************Start about us*************/
.about_us{
    width: 100%;
    height: max-content;
}
.grid_block_about_us{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}
.grid_block_about_us .grid_block:nth-child(2){
    display: flex;
    align-items:center
}
.grid_block_about_us .grid_block .flex_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%;
}
.grid_block_about_us .grid_block .flex_block p{
    width: 75%;
    color: #f27628;
}
.grid_block_about_us .grid_block img{
    width: 100%;
    border-radius:7px;
}
.grid_block_about_us .flex_block:not(:nth-child(1)){
    margin-top: 20px;
}
.text_bolder{
    width: 140px;
    font-weight: bolder;
    text-align: center;
}
.text_bolder p{
    margin: 0;
}
.text_bolder .number{
    font-size: 30px;
}
.text_bolder .word{
    font-size: 20px;
}
@media screen and (max-width: 950px){
    .grid_block_about_us{
        display: grid;
        grid-template-columns: 1fr;
    }
    .grid_block_about_us .grid_block:nth-child(1){
        order: 2;
        margin-top: 40px;
    }
    .grid_block_about_us .grid_block:nth-child(2){
        order: 1;
    }

}
/*************End about us*************/

/*************Start our photos*************/
.our_photos{
    width: 80%;
    margin: auto;
}
.grid_block_our_photos{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-column-gap: 1em;
}
.grid_block_two_photos{
    display: grid;
    grid-template-rows: 250px 250px;
    grid-row-gap: 1em;
}
.grid_block_two_photos .img,.grid_block_one_photo{
    border-radius: 7px;
}
.grid_block_two_photos:nth-child(1) .img:nth-child(1){
    z-index: 2;
    background:url(img/photo_one_our_photo.png);
    background-size:cover;
    background-position: center center;
    z-index: 1;
    box-shadow: 0px 0px 68px 16px rgba(209, 95, 94, 0.33);
}
.grid_block_two_photos:nth-child(1) .img:nth-child(2){
    z-index: 2;
    background:url(img/photo_two_our_photo.png);
    background-size:cover;
    background-position: center center;
    box-shadow: 0px 0px 68px 16px rgba(218, 183, 133, 0.33);
}
.grid_block_two_photos .img:nth-child(1){
    z-index: 2;
    background:url(img/photo_fore_our_photo.png);
    background-size:cover;
    background-position: center center;
    box-shadow: 0px 0px 68px 16px rgba(255, 205, 0, 0.33);
}
.grid_block_two_photos .img:nth-child(2){
    z-index: 2;
    background:url(img/photo_five_our_photo.png);
    background-size:cover;
    background-position: center center;
    box-shadow: 0px 0px 68px 16px rgba(147, 97, 74, 0.33);
}
.grid_block_one_photo{
    z-index: 1;
    background: url(img/photo_three_our_photo.png);
    background-size:cover;
    background-position: center center;
    box-shadow: 0px 0px 68px 16px rgba(2, 94, 165, 0.33);
}
.grid_block_one{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}
@media screen and (max-width: 950px){
    .grid_block_our_photos{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }
    .grid_block_two_photos:nth-child(2){
        display: block;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px;
        grid-column-gap: 1em;
    }
}
@media screen and (max-width: 750px){
    .grid_block_our_photos{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1em;
    }
    .grid_block_one {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }
    .grid_block_one_photo{
        height: 500px;
        width: 400px;
        margin: auto;
    }
    .grid_block_two_photos:nth-child(1){
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px;
        grid-column-gap: 1em;
    }
}
@media screen and (max-width: 520px){
    .grid_block_two_photos:nth-child(1) {
        display: block;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px;
    }
    .grid_block_two_photos:nth-child(2) {
        display: block;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px;
    }
    .grid_block_one_photo{
        width: 100%;
        height: 800px;
    }
    .grid_block_one_photo{
        display: none;
    }
}
/*************End our photos*************/

/*************Start about us two*************/
.about_us_two{
    width: 100%;
    height: max-content;
}
.grid_block_about_us_two{
    width: 80%;
    height: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
}
.grid_block_circle_and_text{
    width: 80%;
}
.grid_block_about_us_two .circle{
    width: 2.2px;
    height: 2px;
    border-radius: 50%;
    border: 2px solid #f27628;
}
.grid_block_circle_and_text .circle{
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}
.grid_block_about_us_two .grid_block:nth-child(2){
    background: url(img/photo_about_us_two.png);
    background-size:cover;
    background-position: center center;
    border-radius: 10px;
}
@media screen and (max-width: 950px){
    .grid_block_about_us_two{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .grid_block_about_us_two .grid_block:nth-child(1){
        order: 2;
        margin-top: 30px;
    }
    .grid_block_circle_and_text {
        width: 100%;
    }
    .grid_block_about_us_two .grid_block:nth-child(2){
        width: 100%;
        height: 80%;
        margin: auto;
        background-position: center bottom;
    }
}
/*************End about us two*************/

/*************Start what_awaits_you*************/
.what_awaits_you{
    width: 100%;
    height: max-content;
}
.grid_block_what_awaits_you{
    width: 80%;
    height: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}
.grid_block_what_awaits_you .grid_block{
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}
.grid_block_what_awaits_you .grid_block .blue_block{
    width: 100%;
    height: 100%;
    background: #297eb2;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
}
.grid_block_what_awaits_you .grid_block:nth-child(1){
    background:url(img/photo_one_what_awaits_you.png);
    background-size:cover;
    background-position:bottom center;
}
.grid_block_what_awaits_you .grid_block:nth-child(2){
    background:url(img/photo_two_what_awaits_you.png);
    background-size:cover;
    background-position:center center;
}
.grid_block_what_awaits_you .grid_block:nth-child(3){
    background:url(img/photo_three_what_awaits_you.png);
    background-size:cover;
    background-position:bottom center;
}
.grid_block_what_awaits_you .grid_block:nth-child(4){
    background:url(img/photo_fore_what_awaits_you.png);
    background-size:cover;
    background-position:center center;
}
.grid_block_what_awaits_you .grid_block:nth-child(5){
    background:url(img/photo_five_what_awaits_you.png);
    background-size:cover;
    background-position:center center;
}
.grid_block_what_awaits_you .grid_block:nth-child(6){
    background:url(img/photo_six_what_awaits_you.png);
    background-size:cover;
    background-position:center center;
}
.grid_block_what_awaits_you .grid_block:nth-child(1):hover .blue_block,
.grid_block_what_awaits_you .grid_block:nth-child(2):hover .blue_block,
.grid_block_what_awaits_you .grid_block:nth-child(3):hover .blue_block,
.grid_block_what_awaits_you .grid_block:nth-child(4):hover .blue_block,
.grid_block_what_awaits_you .grid_block:nth-child(5):hover .blue_block,
.grid_block_what_awaits_you .grid_block:nth-child(6):hover .blue_block{
    background: rgb(41, 126, 178, 0.6);
    opacity: 1;
    transition: .5s;
}
.grid_block_what_awaits_you .grid_block .blue_block{
    display: flex;
    align-items:center;
    justify-content: center;
}
.grid_block_what_awaits_you .grid_block .blue_block .circle{
    width: 6px;
    height: 6px;
    border-radius:50%;
    border: 2px solid white;
}
.grid_block_what_awaits_you .grid_block .blue_block span{
    color:white;
    font-size: 25px;
    font-weight: 700;
    padding: 0 10px;
}
.what_awaits_you .button{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}
.what_awaits_you button{
    width: max-content;
    height: 40px;
    padding: 0px 50px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    background: #f27628;
    border: none;
    border-radius: 20px;
    margin-top: 35px;
    margin-bottom: 120px;
    text-transform: uppercase;
    transition: 0.4s;
}
.what_awaits_you button:hover{
    background: #e45700;
    transition: 0.4s;
}
@media screen and (max-width: 950px) {
    .grid_block_what_awaits_you{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 200px 200px;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}
@media screen and (max-width: 600px) {
    .grid_block_what_awaits_you{
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 1em;
        grid-row-gap: 1em;
    }
}
/*************End what_awaits_you*************/

/*************Start registration*************/
.registration{
    width: 100%;
    height: max-content;
    background: url(img/photo_registration.png);
    background-size:cover;
    background-position: center center;
    padding: 60px 0px;
}
.registration form{
    width: 65%;
    height: max-content;
    margin: auto;
    background: rgb(255, 255, 255,0.6);
    padding: 25px 40px;
    border-radius: 54px;
}
.registration form h3{
    font-size: 25px;
    margin: 0;
}
.name_and_number{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20%;
}
.name_and_number label{
    width: 100%;
}
.name_and_number label:nth-child(2){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: start;
}
.name_and_number label:nth-child(2) p{
    align-self: flex-start;
}
.name_and_number input{
    width:calc(100% - 10px);
    height: 45px;
    border: 2px solid #297eb2;
    border-radius: 15px;
}
.registration textarea{
    width: calc(100% - 5px);
    resize: none;
    border: 2px solid #297eb2;
    border-radius: 15px;
}
.registration .textarea p{
    margin-top: 20px;
    margin-left: 15px;
}
.registration p{
    margin-left: 15px;
}
.registration .checkbox{
    display: flex;
    align-items:center;
}
.registration .checkbox p{
    padding-left: 10px;
}
.registration .button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.registration button{
    width: max-content;
    height: 40px;
    padding: 0px 60px;
    margin-top: 10px;
    color:white;
    font-size: 15px;
    font-weight: 700;
    background: #f27628;
    border:none;
    border-radius:20px; 
    text-transform: uppercase;
    transition: 0.4s;
}
@media screen and (max-width:950px){
    .name_and_number{
        display: grid;
        grid-template-columns: 1fr;
    }
}
/*************End registration*************/

/*************Start footer*************/
.footer{
    width: 100%;
    color: white;
    height: max-content;
    background: #4e4e4e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
}
.footer p,.footer h3{
    margin: 0;
    padding-bottom: 15px;
}
.logo{
    padding-top: 40px;
    padding-right: 35px;
}
.logo img{
    width: 70px;
}
.flexFooter{
    width: 70%;
    height: max-content;
    margin-top: 40px;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.flexOne{
    display: flex;
    align-items:center
}
.flexOne img{
    width: 80px;
}
.flexTwo,.flexTree{
    display: flex;
    flex-direction: column;
}
.flexTwo{
    margin: auto;
}
.footer h3{
    font-size: 14px;
}
.footer a,.footer p{
    font-size: 11px;
    padding: 10px 0px;
}
.footer a{
    color:white;
    text-decoration: none;
}
/*Мапа*/
.map{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
/*Копірайт*/
.copyright{
    width: 100%;
    height: max-content;
    background:#4e4e4e;
}
.copyright p{
    font-size: 15px;
    color:white;
    text-align: center;
    margin: 0;
    padding: calc(35px - 7.5px) 0px;
}
/*Медіа запити*/
@media screen and (max-width: 950px){
    .flexOne img{
        margin: auto;
    }
    .flexFooter{
        width: 100%;
        height: max-content;
        margin-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }
    .flexOne,.flexTwo,.flexTree{
        padding-top: 40px;
    }
}
/*************End footer*************/